@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&family=Work+Sans:wght@400;500&display=swap');
@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6;
    color: $text-color;
    background-color: $background-color;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}