@import '../../styles/variables';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-medium;
    background-color: $color-background;
    position: relative;
    z-index: 1000;

    &__logo {
        &-img {
            width: 180px;
        }
    }

    &__toggle {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 1001;

        @media (max-width: $breakpoint-medium) {
            display: block;
        }

        &-icon,
        &-icon::before,
        &-icon::after {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: $color-text;
            position: absolute;
            transition: all 0.3s ease;
        }

        &-icon {
            top: 50%;
            transform: translateY(-50%);
        }

        &-icon::before {
            top: -8px;
        }

        &-icon::after {
            bottom: -8px;
        }

        &--open {
            .navbar__toggle-icon {
                background-color: transparent;

                &::before {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                &::after {
                    transform: rotate(-45deg) translate(5px, -5px);
                }
            }
        }
    }

    &__menu {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media (max-width: $breakpoint-medium) {
            display: none;
            flex-direction: column;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $color-background;
            padding: $spacing-xxl $spacing-medium;
            align-items: center;
            justify-content: center;

            &--open {
                display: flex;
            }
        }
    }

    &__menu-item {
        margin-left: $spacing-large;

        @media (max-width: $breakpoint-medium) {
            margin: $spacing-medium 0;
        }
    }

    &__menu-link {
        font-family: $font-secondary;
        font-size: $font-size-base;
        font-weight: 500;
        color: $color-text;
        text-decoration: none;
        transition: color $transition-medium;

        &:hover {
            color: $color-primary;
        }

        @media (max-width: $breakpoint-medium) {
            font-size: $font-size-large;
        }
    }
}